h1{
	color: pink;
	font-size: 25px;
	font-family: 'Lobster', cursive;
}

header.titre_principal{
	Color: grey;
	width: 500px;
	border:lpx solid black;
	font-family: 'Dancing Script', cursive;
	font-family: 'Lobster', cursive;
}